<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head :: new_head(~{::title},~{::link},~{::script})">
<meta charset="UTF-8">
<title>Achievements</title>

<script th:src="@{/scripts/jquery-3.6.0.js}"></script>

<!-- Latest compiled and minified CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">

<!-- Latest compiled JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>

<!-- 업적창의 css -->
<link rel="stylesheet" type="text/css" th:href="@{/css/achievements.css}">

</head>
<body>
	<div class="wrapper">
		<!-- sidebar -->
		<!-- <div th:replace="fragments/sidebar :: sidebar"></div> -->
		
		<div class="main">
			<!-- header -->
			<div th:replace="fragments/header :: new_header"></div>
			
	
	<div class=" list-group w-auto d-flex flex-column" id="output">
	 
	<h3>달성한 업적</h3>

	<div th:each="clearList:${clearList}" class="achieveList list-group w-100">
		
		<div class="achievement list-group-item list-group-item-action d-flex gap-3 py-3 justify-content-center"
			aria-current="true">
			
			<!-- 업적의 사진 -->
 			<img th:src="${clearList.achievement_picture}" alt="twbs" width="50" height="50"
 			class="rounded-circle flex-shrink-0">
			
			<div class="d-flex gap-2 w-100 justify-content-between">
				<div>
				<!-- 업적의 제목과 내용 -->
					<h6 th:text="${clearList.achievement_name}" class="mb-0"></h6>
					<p th:text="${clearList.achievement_text}" class="mb-0 opacity-75"></p>
				</div>
				<!-- 달성한 시간 출력 -->
				<small th:text="${clearList.achievement_date}" class="opacity-50 text-nowrap"></small>
			</div>
		</div> 
		
	</div>
	
	<h3>미달성한 업적</h3>
	
	<div th:each="notClearList:${notClearList}" class="notAchieveList list-group w-100 d-flex flex-column justify-content-center">
		
		<div class="achievement list-group-item list-group-item-action d-flex gap-3 py-3"
			aria-current="true">
			
			<!-- 업적의 사진 -->
 			<img th:src="${notClearList.achievement_picture}" alt="twbs" width="50" height="50" 
 			class="rounded-circle flex-shrink-0">
			
			<div class="d-flex gap-2 w-100 justify-content-between">
				<div>
				<!-- 업적의 제목과 내용 -->
					<h6 th:text="${notClearList.achievement_name}" class="mb-0"></h6>
					<p th:text="${notClearList.achievement_text}" class="mb-0 opacity-75"></p>
				</div>
			</div>
		</div> 
	</div>
		</div>
	</div>
</div>
</body>
</html>