<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.softsociety.testboot.dao.MemberDAO">
<!-- 가입 -->
<insert id="insertMember" parameterType="MemberVO">
	insert into prolingo_user
	(
	USER_ID
	, USER_PW
	, USER_NAME
	, NICKNAME
	, DEFAULAT_EMAIL
	, EMAIL
	, AGE
	)
	values
	(
	prolingo_user_seq.nextval
	, #{user_pw}
	, #{user_name}
	, #{user_name}
	, #{default_email}
	, #{default_email}
	, #{age}
	)
</insert>

<!-- AJAX 로그인 체크 -->
<select id="logincheck" parameterType="map" resultType="int">
	SELECT 
		count(*)
	FROM 
		PROLINGO_USER
	WHERE 
		EMAIL = #{email}
		<!-- USER_PW = #{user_pw} -->
</select>

<!-- 이메일로 멤버 객체 하나 반환 -->
<select id="selectMemberByEmail" parameterType="string" resultType="MemberVO">
	select *
	from prolingo_user
	where email = #{email}
</select>

<!-- userid로 멤버 객체 찾기 -->
<select id="selectMemberByUserid" parameterType="int" resultType="MemberVO">
	select *
	from prolingo_user
	where USER_ID = #{id}
</select>

<!--회원정보 수정  -->
<update id="updateMemberInfo" parameterType="MemberVO">
	<!-- 현재 로그인 userid값을 조건비교해서 수정 -->
	update prolingo_user
	set
		NICKNAME = #{nickname}
		, EMAIL = #{email}
		, AGE = #{age}
	where USER_ID = #{user_id}
</update>
</mapper>