<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.softsociety.testboot.dao.ProfileDAO">

<!-- 달성한 업적을 조회 -->
<select id="selectClear" resultType="AchievementVO">
	select u.achievement_date, p.achievement_name, p.achievement_text, p.achievement_picture
	from prolingo_achievement p, user_achieve u 
	where p.achievement_id = u.achievement_id
	order by p.achievement_id
</select>

<!-- 미달성한 업적을 조회 -->
<select id="selectNotClear" resultType="AchievementVO">
	select distinct p.achievement_id, p.achievement_name, p.achievement_text, p.achievement_picture
	from prolingo_achievement p, user_achieve u
	where p.achievement_id != u.achievement_id
	order by p.achievement_id
</select>

</mapper>
