<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.softsociety.testboot.dao.ProfileDAO">

<!-- 달성한 업적을 조회 -->
<select id="selectClear" parameterType="String" resultType="AchievementVO">
	select u.achievement_date, p.achievement_id, p.achievement_name, p.achievement_text, p.achievement_picture
	from prolingo_achievement p, user_achieve u 
	where p.achievement_id = u.achievement_id and u.user_id = #{userid}
	order by p.achievement_id
</select>

<!-- 미달성한 업적을 조회 -->
<select id="selectNotClear" parameterType="String" resultType="AchievementVO">
	select distinct p.achievement_id, p.achievement_name, p.achievement_text, p.achievement_picture
	from prolingo_achievement p, user_achieve u
	where p.achievement_id != u.achievement_id  and u.user_id = #{userid}
	order by p.achievement_id
</select>

<!-- 접속한 사람과 그 사람의 친구를 제외한 사람들을 조회 -->
<select id="selectFriends" parameterType="hashmap" resultType="MemberVO">
	select distinct u.user_name, u.email
	from prolingo_user u, user_follow f
	where
		u.user_id = #{userid}
    	<if test="#{searchWord} != null">
    		<where>
    			and
    			u.user_name like '%' || #{searchWord} || '%'
				or
				u.email like '%' || #{searchWord} || '%'
				or
				u.nickname like '%' || #{searchWord} || '%'
			</where>
		</if>
</select>

<!-- 검색어에 해당하는 사람들 조회 -->

<select id="searchList" parameterType="String" resultType="MemberVO">
	select distinct photo, user_name, email
	from prolingo_user
	<if test="#{searchWord} != null">
		<where>
			user_name like '%' || #{searchWord} || '%'
			or
			email like '%' || #{searchWord} || '%'
			or
			nickname like '%' || #{searchWord} || '%'
 		</where>
 	</if>
</select>

</mapper>
