<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.softsociety.testboot.dao.StudyCourseDAO">

<!-- 학습페이지에서 입문편 리스트 조회-->
<select id="introdutionAll" resultType="ContentsVO">
	select lesson_slide, lesson_title 
	from prolingo_contents
	group by lesson_slide, lesson_title
	order by lesson_slide
</select>

<!-- 학습페이지에서 특정 슬라이드 목록을 조회 -->
<select id="selectContents" parameterType="int" resultType="ContentsVO">
	select * 
	from prolingo_contents
	where lesson_id = #{lessonid}
	order by lesson_slide
</select>

<select id="selectContents2" resultType="ContentsVO">
	select * 
	from prolingo_contents
	where lesson_id = #{lessonid} and lesson_slide = #{questionindex}
	order by CONTENT_ID
</select>

<select id="searchTitle" parameterType="int" resultType="String">
	
	select lesson_title
	from prolingo_contents
	where lesson_slide = #{questionindex}
	group by lesson_title
	
	
</select>

</mapper>