<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head :: new_head(~{::title},~{::link},~{::script})">
<!-- 타이틀 입력 -->
<title>pricing</title>
 <!-- 추가되는 링크 입력, 없더라도 link 빈거 하나는 있어야 하는듯? -->
<!-- <link rel="stylesheet" th:href="@{/css/.css}"> -->
<link>
 <!-- 추가되는 스크립트 입력, 역시 없더라도 빈거 하나는 있어야 하는듯? -->
<script type="text/javascript" th:src="@{/js/member/pricing.js}"></script>
</head>
<body>
	<div class="wrapper">
		<!-- sidebar -->
		<!-- <div th:replace="fragments/sidebar :: sidebar"></div> -->
		
		<div class="main">
			<!-- header -->
			<div th:replace="fragments/header :: new_header"></div>
			
			<!-- content -->
			<main class="content">
				<div class="container-fluid p-0">
		
					<h1 class="h3 mb-3" th:text=${session.userinfo}>Pricing</h1>
					
					
					
		
					<div class="row">
						<h1 class="text-center">Prilingo <span class="text-danger">PLUS</span></h1>
						<p class="lead text-center mb-4">광고를 모두 없애고 제한 없이 학습하세요</p>
						<div class="row justify-content-center mb-3">
<!-- 						<div class="col-auto"> -->
<!-- 							<div class="nav btn-group mb-3" role="group" aria-label="Default button group"> -->
<!-- 								<a href="#monthly" class="btn btn-outline-primary active" data-bs-toggle="tab">Monthly billing</a> -->
<!-- 								<a href="#annual" class="btn btn-outline-primary" data-bs-toggle="tab">Annual billing</a> -->
<!-- 							<button type="button" class="btn btn-secondary">Left</button> -->
<!-- 								<button type="button" class="btn btn-secondary">Right</button> -->
<!-- 							</div> -->
<!-- 						</div> -->
						</div>
						<div class="row">
							
							<div class="col-sm-3 offset-sm-3 mb-3 mb-md-0">
								<div class="card text-center h-100">
									<div class="card-body d-flex flex-column">
										<div class="mb-4">
											<h5 class="card-title mb-0">Free</h5>
											<span class="display-4">￦0</span>
										</div>
										<h6>Includes:</h6>
										<ul class="list-unstyled">
											<li class="mb-2">
												nothing
											</li>
											<li class="mb-2">
												
											</li>
											<li class="mb-2">
												
											</li>
										</ul>
<!-- 										<div class="mt-auto"> -->
<!-- 											<a href="#" class="btn btn-lg btn-outline-primary">Sign up</a> -->
<!-- 										</div> -->
									</div>
								</div>
							</div>
							
							<div class="col-sm-3 mb-3 mb-md-0">
								<div class="card text-center h-100">
									<div class="card-body d-flex flex-column">
										<div class="mb-4">
											<h5 class="card-title mb-0">Plus</h5>
											<span class="display-4">￦1,000</span>
											<span>/mo</span>
										</div>
									
										<h6>Includes:</h6>
										<ul class="list-unstyled">
											<li class="mb-2">
												everything
											</li>
											<li class="mb-2">
												
											</li>
											<li class="mb-2">
												
											</li>
										</ul>
										<div class="mt-auto">
											<a th:if="${role} == 'free'" th:href="@{upgrade}" class="btn btn-lg btn-outline-primary">Upgrade</a>
											<button th:if="${role} == 'plus'" class="btn btn-lg btn-outline-primary" disabled>Using</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
	
				</div>
			</main>
			
			<!-- footer -->
			<div th:replace="fragments/footer :: new_footer"></div>
		
		</div>
	</div>
	
</body>
</html>