<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>
	<div th:fragment="new_header">
		<nav class="navbar navbar-expand navbar-light navbar-bg">

			<a th:href="@{/study}" class="sidebar-toggle js-sidebar-toggle">
				<img th:src="@{/icons/header_swallow_icon.png}" alt="swallow_icon">
			</a>

			<ul class="navbar-nav d-none d-lg-flex">
				<li class="nav-item">
					<a class="nav-link active navtext" th:href="@{/study}" id="titletext">Prolingo</a>
				</li>
			</ul>

			<div class="navbar-collapse collapse">
				
				<!-- https://getbootstrap.kr/docs/5.0/utilities/display/ -->
				<ul class="navbar-nav">
					<li class="d-inline-flex d-sm-none ">
						<a class="nav-link active navtext" th:href="@{/study}"><i class="align-middle ms-4 me-2" data-feather="book-open"></i></a>
					</li>
					<li class="nav-item d-none d-sm-inline-flex">
						<a class="nav-link active navtext" th:href="@{/study}"><i class="align-middle ms-4 me-2" data-feather="book-open"></i>학습</a>
					</li>
					<li class="d-inline-flex d-sm-none ">
						<a class="nav-link active navtext" th:href="@{/rank}"><i class="align-middle ms-4 me-2" data-feather="award"></i></a>
					</li>
					<li class="nav-item d-none d-sm-inline-flex">
						<a class="nav-link active navtext" th:href="@{/rank}"><i class="align-middle ms-4 me-2" data-feather="award"></i>랭킹</a>
					</li>
					<li class="d-inline-flex d-sm-none ">
						<a class="nav-link active navtext" th:href="@{/board/list}"><i class="align-middle ms-4 me-2" data-feather="layout"></i></a>
					</li>
					<li class="nav-item d-none d-sm-inline-flex">
						<a class="nav-link active navtext" th:href="@{/board/list}"><i class="align-middle ms-4 me-2" data-feather="layout"></i>게시판</a>
					</li>
				</ul>
				<ul class="navbar-nav navbar-align">

					<li class="nav-item d-none d-md-inline-flex m-2 text-warning">
						<i class="align-middle me-2" data-feather="star"></i>
						<span th:text="${session.userexp}">누적 경험치</span>
					</li>
					
					<li class="nav-item d-none d-md-inline-flex m-2 text-success  class">
						<i class="align-middle me-2" data-feather="calendar"></i>
						<span th:text="${session.continueday}">연속 학습 일수</span>
					</li>
					<li class="nav-item dropdown"><a
						class="nav-icon dropdown-toggle d-inline-block d-sm-none" href="#"
						data-bs-toggle="dropdown"> <i class="align-middle"
							data-feather="settings"></i>
					</a> <a class="nav-link dropdown-toggle d-none d-sm-inline-block"
						href="#" data-bs-toggle="dropdown"> 
						<img th:src="${session.userphoto}"
							class="avatar img-fluid rounded-circle me-1" alt="profile image" /> <span
							class="text-dark" th:text="${session.nickname}">nickname</span>
					</a>
						<div class="dropdown-menu dropdown-menu-end">

							<a class="dropdown-item" th:href="@{/profile}"><i
								class="align-middle me-1" data-feather="user"></i> Profile</a>

							<a class="dropdown-item" th:href="@{/settings/pricing}"><i
								class="align-middle me-1" data-feather="shopping-cart"></i> Payment</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" th:href="@{/settings}"><i
								class="align-middle me-1" data-feather="settings"></i> Settings & Privacy</a>

							<a class="dropdown-item" href="https://github.com/tmdqja92/ProLingo-teamProject"><i
								class="align-middle me-1" data-feather="help-circle"></i> Help Center</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" th:href="@{/member/logout}"><i
								class="align-middle me-1" data-feather="log-out"></i>Log out</a>
						</div></li>
				</ul>
			</div>
		</nav>
	</div>
</body>

</html>