<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head :: new_head(~{::title},~{::link},~{::script})">
<meta charset="UTF-8">
<!-- 타이틀 입력 -->
<title>글쓰기</title>
<script th:src="@{/summernote/js/summernote-lite.js}"></script>
<script th:src="@{/summernote/js/summernoteJS.js}"></script>
<script th:src="@{/summernote/js/lang/summernote-ko-KR.js}"></script>
<link rel="stylesheet" th:href="@{/summernote/css/summernote-lite.css}">
 <!-- 추가되는 링크 입력, 없더라도 link 빈거 하나는 있어야 하는듯? -->
<!-- <link rel="stylesheet" th:href="@{/css/.css}"> -->
<link>
 <!-- 추가되는 스크립트 입력, 역시 없더라도 빈거 하나는 있어야 하는듯? -->
<!-- <script type="text/javascript" th:src="@{/js/.js}"></script> -->
<script></script>
</head>
<body>
	<div class="wrapper">
		<!-- sidebar -->
		<!-- <div th:replace="fragments/sidebar :: sidebar"></div> -->
		
		<div class="main">
			<!-- header -->
			<div th:replace="fragments/header :: new_header"></div>
			
			<!-- content -->
			<main class="content">
				<div class="container-fluid p-0">
		
					<h1 class="h3 mb-3">글쓰기</h1>
		
					<!-- 글쓰기 -->
    				<form id="writeForm" action="writeForm" method="post">
    					<input type=text name="title" id="title" placeholder="제목을 입력해 주세요." style="width: 500px; margin: 5px">
							<!-- summer note -->
							<!-- <textarea id="summernote" name="editordata"></textarea> -->
							<textarea id="summernote" name="board_content"></textarea> <!-- board_content 입니다 -->
							<br>
							
							<input type="submit" class="btn btn-primary" value="저장">
							<span><a th:href="@{/board/list}" class="btn btn-success">뒤로가기</a></span>
					</form>	
    				
				</div>
			</main>
			<!-- footer -->
			<div th:replace="fragments/footer :: new_footer"></div>
		</div>
	</div>
	
	<!-- 이거 없으면 화이트라벨 뜸 ㅡㅡ -->
	<!-- 위에 빈 스크립트 없어서 그런거였음 없어도 됨! -->
	<!-- <script th:src="@{/js/app.js}"></script> -->
</body>
</html>