@charset "UTF-8";

.card {
	margin: 10px;
	height:600px;
}

body{
	background-color:#f5f7fb;
	border: solid 1px #dee2e6;
}

footer {
	background-color:white;
    width: 100%;
    height: 60px;
    position: absolute;  
    bottom: 0;
    left: 0;
}

.CodeMirror {
	border: 1px solid #eee;
	height: auto;
	max-height: 500px;
	width: auto;
	font-family: Consolas, serif;
	font-size: 17px;
	line-height: 30px;
	border: 0px;	
}

.cardForm{
	position: relative;
	width: 24%;
}

.card-header{
	border:0px;
}

.card-body{
	padding:10px;
}

.card-footer{
	border:0px;
	text-align:right;
	height:55px;
}

.answerBody{
	height: 500px;
}

.menu{
	color:rgb(192, 192, 192);
}

.menu:hover{
	color:white;
}
 
.nav-link{
 	color:rgb(192, 192, 192);
 }
 
.nav-link:hover{
 	color:white;
 }

.p-3{
 	background-color:white;
 }

#logo{
	padding-right:0px;
	padding-left:0px;
}

#logo_icon{
	width: 40px;
	height: 40px;
}

#icon{
	padding-right:10px;
}

#dropdown{
	padding-left:1000px;
	padding-right:60px;
}

#contents{
	position: fixed;
	top: 75px;
	left: 10px;
}

#contentsText{
	padding:10px;
}

#compiler{
	position: absolute;
	left: 26%;
	height: 600px;
	margin: 10px;
	width: 46%;
	top: 75px;
	background-color: rgb(51, 51, 51);
	color: white;
}

#answerText{
	background-color: rgb(51, 51, 51);
	color: white;
}

#buttonInput{
	width : 100%;
	height : 100%;
	background-color: rgb(51, 51, 51);
	color: white;
	resize: none;	
}

#downloadIcon{
	color: white;
}

#resultHeader{
	height:41px;
}

#result{
	position:absolute;
	top: 75px;
	left: 73.5%;
}

#buttonResult{
	position:absolute;
	top: 75px;
	left: 1105px;
	height:350px;
}

#callContents{
	position:absolute;
	bottom: 11px;
	left: 11px;
}

#resultBody{
	background-color: rgb(51, 51, 51);
	color:white;
	padding: 10px;
	font-family: Consolas, serif; 
	font-size: 17px;
	line-height: 30px;
}

#submitModal{
	position: fixed;
	left: 390px;
	bottom: 70px;
	width: 700px;
}

#incorrectModal{
	position: fixed;
	left: 390px;
	bottom: 70px;
	width:700px;
}

#rightsquare{
	border:0px;
	padding:0px;
}

#right-square{
	color:black;
}

#VirtualKey{
	position:absolute;
	top: 440px;
	left: 1150px;
	border: solid black;
}

#modalProgress{
	color: black;
}

#btn1, #btn2, #btn3, #btn4, #btn5, #btn10,
#btn6, #btn7, #btn8, #btn9, #btn0, #btnDel{
	height:50px;
	width: 100px;
	padding: 10px;
	margin: 4px;
}

#submitButton{
	width: 90px;
}

#answerButton{
	width: 90px;
}

#answerModal{
	top:20px;
	left:-10px;
}

.progress{
	position:absolute;
	width:400px;
	bottom: 22px;
	left: 550px;
	font: white;
}

.footerButton{
	width:130px;
	border:0px;
	color: white;
}

.indicator{
	color:white;
}

.icon{
	width: 30px;
	height: 30px;	
}

.dropdown-menu i {
	font-size: 16px;
	min-width: 22px;
}

.dropdown-menu {
	border-radius: 1px;
	border-color: #e5e5e5;
	box-shadow: 0 2px 8px rgba(0, 0, 0, .05);
}

.dropdown-menu li a {
	color: #777;
	padding: 8px 20px;
	line-height: normal;
}

.dropdown-menu li a:hover, .navbar .dropdown-menu li a:active {
	color: #333;
}

.modal-lesson{
	position:absolute;
	width: 100%; height: 650px;
	justify-content: center;
	background: black;
	top: 6%; left:0%;
	z-index:1050;
	display:none;
}
.modal-lesson-wrapper{
	position: fixed;
	width:100%; height:550px;
	top: 8%; left: 0%;
	text-align: center;
	background-color: #E0FFFF;
}
.modal-lesson-body {
	height:450px;	
}
.slick-arrow{    
    /* background: #9e9e9e ;         */
    background:  #E0FFFF;
    
    width:40px;
    height:40px;
    border: 0;
    border-radius:30px;    
    text-align:center;
    margin:0 auto;
    vertical-align:middle;
    line-height:0px;     
    position: absolute;
    bottom: 20px;
    cursor: pointer;
    font-size: 3; 
    z-index: 1; 
    color: teal;
} 

.codeAnswer{
	background-color: rgb(51, 51, 51);
	color:white;
	padding: 10px;
	font-family: Consolas, serif; 
	font-size: 17px;
	line-height: 30px;
	resize:none;
	width:100%;
	height:500px;
	top:75px;
	
}

.modalHeader{
	text-indent: 10px;
	border:0px;
}

.modalBody{
	color: black;
	text-align: left;
	line-height: 40px;
	text-indent: 10px;	
}

.modalFooter{
	padding: 3px;
	border: 0px;
}

.compilerFooter{
	background-color: rgb(51, 51, 51);
}

.contentClose{
	display: block;
	padding: 10px;
	font-size:25px;
	color:teal;
}

.contentClose:hover{
	color: teal;
	filter: brightness(130%);
}

.slick-prev {
    left: 2%;
    font-size: 40px;
    
}
.slick-next {
	font-size: 40px;
    right: 2%;   
}

.slide_image1{
	width: 500px;
	margin: 0 auto;
}
