@charset "UTF-8";

.card {
	margin: 10px;
	height:600px;
}

footer {
	background-color:midnightblue;
    width: 100%;
    height: 60px;
    position: absolute;  
    bottom: 0;
    left: 0;
}

.CodeMirror {
	border: 1px solid #eee;
	height: auto;
	max-height: 500px;
	width: auto;	
}

.card-body{
	padding:0px;
}

.card-footer{
	text-align:right;
	height:55px;
}

.menu{
	color:rgb(192, 192, 192);
}

.menu:hover{
	color:white;
}
 
.nav-link{
 	color:rgb(192, 192, 192);
 }
 
.nav-link:hover{
 	color:white;
 }

.p-3{
 	background-color:midnightblue;
 }

#logo{
	padding-right:0px;
	padding-left:0px;
}

#logo_icon{
	width: 40px;
	height: 40px;
}

#icon{
	padding-right:10px;
}

#dropdown{
	padding-left:1000px;
	padding-right:60px;
}

#contents{
	position:absolute;
	top: 75px;
	left: 10px;
	width: 350px;
}

#contentsText{
	padding:10px;
}

#compiler{
	position:absolute;
	height: 600px;
	margin: 10px;
	width: 720px;
	top: 75px;
	left: 370px;
}

#buttonInput{
	width : 100%;
	height : 100%;
	background-color: black;
	color: white;
	resize: none;	
}

#downloadIcon{
	color: white;
}

#result{
	position:absolute;
	top: 75px;
	left: 1100px;
	font-family: Consolas, serif; 
	font-size: 17px;
	line-height: 30px;
}

#buttonResult{
	position:absolute;
	top: 75px;
	left: 1105px;
	height:350px;
}

#callContents{
	position:absolute;
	bottom: 11px;
	left: 11px;
}

#resultBody{
	background-color:black;
	color:white;
	padding: 10px;
}

#rightsquare{
	border:0px;
	padding:0px;
}

#resultHeader{
	padding:0px;
}

#right-square{
	color:black;
}

#VirtualKey{
	position:absolute;
	top: 440px;
	left: 1150px;
	border: solid black;
}

#btn1, #btn2, #btn3, #btn4, #btn5, #btn10,
#btn6, #btn7, #btn8, #btn9, #btn0, #btnDel{
	height:50px;
	width: 100px;
	padding: 10px;
	margin: 4px;
}

.progress{
	position:absolute;
	width:400px;
	bottom: 22px;
	left: 550px;
	font: white;
}

.indicator{
	color:white;
}

.icon{
	width: 30px;
	height: 30px;	
}

.dropdown-menu i {
	font-size: 16px;
	min-width: 22px;
}

.dropdown-menu {
	border-radius: 1px;
	border-color: #e5e5e5;
	box-shadow: 0 2px 8px rgba(0, 0, 0, .05);
}

.dropdown-menu li a {
	color: #777;
	padding: 8px 20px;
	line-height: normal;
}

.dropdown-menu li a:hover, .navbar .dropdown-menu li a:active {
	color: #333;
}

  
.modal-lesson{
	position:absolute;
	width: 100%; height: 650px;
	justify-content: center;
	background: black;
	top: 6%; left:0%;
	z-index:1050;
	display:none;
}
.modal-lesson-wrapper{
	position: fixed;
	width:100%; height:550px;
	top: 8%; left: 0%;
	text-align: center;
	background-color: skyblue;
}
.modal-lesson-body {
	height:450px;	
}
.slick-arrow{    
    /* background: #9e9e9e ;         */
    background:  skyblue;
    
    width:40px;
    height:40px;
    border: 0;
    border-radius:30px;    
    text-align:center;
    margin:0 auto;
    vertical-align:middle;
    line-height:0px;  
    top:45%;    
    position: absolute;
    bottom: 20px;
    cursor: pointer;
    font-size: 3; 
    z-index: 1;  
} 
  
.slick-prev {
    left: 2%;
}
.slick-next {
    right: 5%;   
}
.slick-prev:before {
    content: '<';
}
.slick-next:before {
     content: ">";
}

