@charset "UTF-8";

header{
	box-shadow: 5px gray;
}

.p-3{
	width:100%;
	height:65px;
 	background-color:white;
 }

#logo{
	position:fixed;
	top: 18px;
	left:22px;
	padding-right:0px;
	padding-left:0px;
}

#logo_icon{
	width: 26px;
	height: 26px;
}


#dropdown{
	color:rgb(192, 192, 192);
}

#dropdown:hover{
	color:white;
}

#title{
	position:fixed;
	top: 18px;
	left: 30px;
	color:gray;
} 

#title:hover{
	color:rgb(192, 192, 192);
} 

#learn{
	position:fixed;
	top: 24px;
	left: 330px;
	color:rgb(192, 192, 192);
} 

#learn:hover{
	color:white;
} 

#ranking{
	position:fixed;
	top: 16px;
	left: 430px;
	color:rgb(192, 192, 192);
} 

#ranking:hover{
	color:white;
} 

#board{
	position:fixed;
	top: 16px;
	left: 530px;
	color:rgb(192, 192, 192);
} 

#board:hover{
	color:white;
}

#language{
	position:fixed;
	top: 24px;
	left: 1230px;
	color:rgb(192, 192, 192);
} 

#language:hover{
	color:white;
} 

#profile{
	position:fixed;
	top: 20px;
	left: 1380px;
	color:rgb(192, 192, 192);
} 

#profile:hover{
	color:white;
} 

#pageList{
	position: fixed;
	top: 16px;
	left: 200px;
	background-color:#f5f7fa;
	color: #30546a;
	font-size: 13px;
	padding: 8px 16px 8px 16px;
	border-radius: 5px 5px 5px 5px;
	font-family: 'Noto Sans KR', sans-serif;
}

#pageList:hover{
	background-color:#eaeffa;
}

.indicator{
	color:white;
}

.icon{
	width: 30px;
	height: 30px;	
}



.dropdown-menu i {
	font-size: 16px;
	min-width: 22px;
}

.dropdown-menu {
	border-radius: 1px;
	border-color: #e5e5e5;
	box-shadow: 0 2px 8px rgba(0, 0, 0, .05);
}

.dropdown-menu li a {
	color: #777;
	padding: 8px 20px;
	line-height: normal;
}

.dropdown-menu li a:hover, .navbar .dropdown-menu li a:active {
	color: #333;
}
