@charset "UTF-8";
.card-body {
	padding-top: 20px;
	padding-bottom: 20px;
}
.row {
	margin: 0 auto;
	width: 1200px;
	height: 320px;
	display: felx;
	text-align: center;
}
.card-img-top {
	margin: 0 auto;
}
.lesson-card-icon {
	width:128px;
}
