@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

h3{
	position: absolute;
	text-align:left;
	top: 100px;
	left: 10%;
	border: 50px;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight:bold;
}

.searchForm{
	height: auto;
}

.profileLink{
	text-decoration: none;
}

.inputWrap{
	position: relative;
	width: 1000px;
}

.search{
	position: absolute;
	text-align:left;
	left: 15%;
	top: 170px;
}

.profile{
	position: relative;
	top: 70px;
	border: 20 20 20 20;
}

.inputWrap{
	position: relative;
	top: 50px;
	padding: 20px;
}


#searchWord{
	width: 800px;
	height: 50px;
	background-color:#F5F5F5;
	border: solid 3px;
	border-radius: 10px;
}

#output1{
	position: relative;
}

#output2{
	position: relative;
}