<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head :: new_head(~{::title},~{::link},~{::script})">
<!-- 타이틀 입력 -->
<title>blankpage</title>
 <!-- 추가되는 링크 입력, 없더라도 link 빈거 하나는 있어야 하는듯? -->
<!-- <link rel="stylesheet" th:href="@{}"> -->
<link>
 <!-- 추가되는 스크립트 입력, 역시 없더라도 빈거 하나는 있어야 하는듯? -->
<!-- <script type="text/javascript" th:src="@{/scripts/home.js}"></script> -->

</head>
<body>
	<div class="wrapper">
		<!-- sidebar -->
		<!-- <div th:replace="fragments/sidebar :: sidebar"></div> -->
		
		<div class="main">
			<!-- header -->
			<div th:replace="fragments/header :: new_header"></div>
			
			<!-- content -->
			<main class="content">
				<div class="container-fluid p-0">
		
					<h1 class="h3 mb-3">Blank Page</h1>
		
					<div class="row">
						<div class="col-12">
							<div class="card">
								<div class="card-header">
									<h5 class="card-title mb-0">Empty card</h5>
								</div>
								<div class="card-body">
								</div>
							</div>
						</div>
					</div>
	
				</div>
			</main>
			
			<!-- footer -->
			<div th:replace="fragments/footer :: new_footer"></div>
		
		</div>
	</div>
	
	<!-- 이거 없으면 화이트라벨 뜸 ㅡㅡ -->
	<script th:src="@{/js/app.js}"></script>
</body>
</html>