<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>CompilerTest</title>

<script th:src="@{/scripts/jquery-3.6.0.js}"></script>

<link rel="shortcut icon" th:href="@{/img/icons/icon-48x48.png}" />

<!-- 부트스트랩 CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">

<!-- 부트스트랩 JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
 
<!-- compiler의 css -->
<link rel="stylesheet" type="text/css" th:href="@{/css/compilerCSS.css}">

<!-- header의 css -->
<link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">

<!-- 아이콘 사용 -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

<!-- include libraries(jQuery) -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

<!-- include summernote css/js -->
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>

<!-- include codemirror (codemirror.css, codemirror.js, xml.js, formatting.js) -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/theme/moxer.min.css">
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/codemirror.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/codemirror/2.36.0/formatting.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/mode/clike/clike.min.js"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/codeMirror.css}">

<script>
 
$(document).ready(function() {
	//모달창 바로 띄우기
	$('.modal-lesson-explain').fadeIn();
	//모달창 클릭시 닫기
	$('.modal-body').click(function() {
		$('.modal-lesson-explain').fadeOut();
	});
	//슬라이드 돌아가기 버튼
	 let callContents = document.getElementById("callContents");
	$('callContents').click(function() {
		$('.modal-lesson-explain').fadeIn();
	}); 
	
    // 코드미러 실행
    const codemirrorEditor = CodeMirror.fromTextArea(document.getElementById("codemirror"), {
    	//라인 번호
    	lineNumbers: true,
    	//테마
    	theme: 'moxer',
    	//자바 모드
    	mode: "text/x-java",
    	viewpointMargin: Infinity,
    	readOnly:false,
    	lineWrapping:true
    }).setsize("100%","100%");
});

</script>

</head>

<header class="p-3">
	<div class="container">
		<div class="d-flex flex-wrap align-items-center">
				<!-- a태그의 이동페이지 주소는 해당 페이지의 제작자가 입력 요망 -->		
			<div id="logo">
				<a th:href="@{/}"><img th:src="@{/icons/swallow_icon.png}" alt="logo_icon" id="logo_icon"></a>
			</div>
			<div>
				<a th:href="@{/}" class="menu px-5 nav-link text-start" id="title" style="font-weight:bold">PROLINGO</a>
			</div>
				
	
			<!-- 로그인한 계정페이지로의 연결과 프로필 사진 출력 필요 (개인페이지 구현 및 사진 저장경로 구현 후 상세히 작성예정) -->
				
			<div class="px-5 dropdown text-end">
					<a href="#" class="menu d-block dropdown-toggle text-decoration-none"
							data-bs-toggle="dropdown" aria-expanded="false" id="profile">
					<img src="https://github.com/mdo.png" alt="profile" width="32" height="32"
							class="rounded-circle">
					</a>
				
				<ul class="dropdown-menu text-small text-light">
					<!-- 프로필 페이지와 연결 -->
					<li><a class="dropdown-item" href="#"><i class="bi bi-person-circle"></i>&nbsp;&nbsp;프로필</a></li>
					<!-- 결제 페이지로 이동 -->
					<li><a class="dropdown-item" href="#"><i class="bi bi-cart"></i>&nbsp;&nbsp;결제</a></li>
					<!-- 설정 페이지로 이동 -->
					<li><a class="dropdown-item" href="#"><i class="bi bi-gear"></i>&nbsp;&nbsp;설정</a></li>
					<li><hr class="dropdown-divider"></li>
					<!-- 로그아웃 하면서 시작페이지로 이동 -->
           			<li><a class="dropdown-item" href="@{/}"><i class="bi bi-person-x"></i>&nbsp;&nbsp;로그아웃</a></li>
				</ul>
			</div>
		</div>
	</div>
</header>


<body>
	<!-- 모달 개념설명 부분 -->
	<div class="modal-lesson-explain">
		<div class="modal-body">Modal 모달~모달~</div>
	</div>
	<div class="d-flex flex-wrap align-items-center">
	<!-- 문제출력 부분 -->
	<div class="card" id="contents">
  		<div class="card-header"><i class="bi bi-journal-text"></i> 문제</div>
  		<div class="card-body">
    		<h5 class="card-title">Special title treatment</h5>
    		<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    	</div>	
	</div>
	<!--컴파일러 부분  -->
	<form method="post" action="">
		<div class="card" id="compiler">
			<div class="card-header"><i class="bi bi-journal-code"></i></div>
			<div class="card-body">
  					<textarea class="textarea" id="codemirror"></textarea>
  			</div>
  			<div class="card-footer">
  				<button type="button" class="btn btn-secondary">Submit</button> 
  			</div>
		</div>
	</form>
	<!-- 답 출력부분 -->
	<div class="card" id="result">
  		<div class="card-header" >>_ 결과</div>
  		<div class="card-body">
    		<h5 class="card-title">Special title treatment</h5>
    		<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    	</div>	
	</div>
    </div>  	
<div class="exercise footer">
	<footer class="align-items-center">
	<button class="btn btn-secondary" id="callContents">슬라이드로 돌아가기</button> 
</footer>
</div>		
</body>


</html>