<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org" 
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>CompilerForm</title>

<script th:src="@{/js/jquery-3.6.0.js}"></script>

<!-- <link rel="shortcut icon" th:href="@{/img/icons/icon-48x48.png}" /> -->

<!-- 부트스트랩 CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">

<!-- 부트스트랩 JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>

<!-- compiler의 css -->
<link rel="stylesheet" type="text/css" th:href="@{/css/compilerCSS.css}">

<!-- header의 css -->
<link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">

<!-- header의 폰트 -->
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap" rel="stylesheet">

<!-- 아이콘 사용 -->
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

<!-- include codemirror (codemirror.css, codemirror.js, xml.js, formatting.js) -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/theme/monokai.min.css" />
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/codemirror.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/codemirror/2.36.0/formatting.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/mode/clike/clike.min.js"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/codeMirror.css}">

<!-- slick CSS, JS -->
<link rel="stylesheet" type="text/css"
	href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
<script type="text/javascript"
	src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

<script type="text/javascript" th:src="@{/js/compiler/compiler.js}"></script>

</head>

<body>
<!-- 컴파일러폼에서만 사용되는 header -->
<header class="p-3">
	<div class="container">
		<div class="d-flex flex-wrap align-items-center">
					
			<div id="logo">
				<a th:href="@{/}"><img th:src="@{/icons/swallow_icon.png}" alt="logo_icon" id="logo_icon"></a>
			</div>
			<div>
				<a th:href="@{/}" class="menu px-5 nav-link text-start" id="title" style="font-weight:bold">PROLINGO</a>
			</div>
			
			<!-- 특정 학습 페이지로 이동하기 위한 메뉴 -->
			<button id="pageList">
				Java Study 개념
				&nbsp;<i class="bi-chevron-right" id="chevron"></i>&nbsp;
				<span th:text="${title}"></span>
				&nbsp;<i class="bi bi-caret-down-fill"></i>
			</button>		
		</div>
	</div>
	
	<!-- 특정 학습페이지로 이동하기 위한 modal -->
	<!-- 추후에 특정 학습페이지로 넘어가기 위해서 each를 사용한 리스트 나열이 필요함  -->
	<div class="modal" id="learningModal">
  		<div class="modal-dialog" role="document">
    		<div class="modal-content">
    			<!-- 모달의 헤더 값 -->
    			<!-- modal-title에 학습의 대분류값이 출력 -->
     		 	<div class="modal-header">
        			<h5 class="modal-title" id="exampleModalLongTitle">Java Study 개념</h5>
        			<!-- 해당 모달창을 닫는 버튼 -->
        			<button type="button" class="resultClose btn-close"
						aria-label="Close" id="resultClose"></button>
      			</div>
      		<!-- 학습 리스트가 출력될 모달의 body부분 -->
      		<div class="modal-body" id="learnList">
   				<!-- 특정 학습 페이지로 이동하기 위한 a태그 -->
   				<!-- each로 반복해야 할 부분으로 생각됨 -->
      			<div th:each="chapterList:${chapterList}" class="learningLink" id="learningLink">
        			<a th:text="${chapterList.lesson_title}" 
        			th:href="|@{compilerForm}?lessonid=${chapterList.lesson_id}&questionindex=${chapterList.lesson_slide}|" 
        			class="learningOne" ></a>
        		</div>
      		</div>
    	</div>
  		</div>
	</div>
</header>


<!-- 현재 학습 과정이 뭔지 불러와줄 부분 -->
<!-- 그냥 자바 스크립트에서 ajax로 객체 가져오는게 200만배는 나았을듯 -->
<span id="info" th:lang="${language}"
		th:lid="${lessonid}"
		th:qid="${questionlist[questionindex].question_id}"
		th:question="${questionlist[questionindex].question_contents}"
		th:dcode="${questionlist[questionindex].default_code}"
		th:acode="${questionlist[questionindex].answer}"
		th:result="${questionlist[questionindex].console_result}"
		th:keywords="${questionlist[questionindex].keywords}"
		th:listlength="${#lists.size(questionlist)}"
		th:index="${questionindex}"
		th:currurl="${#httpServletRequest.requestURI}"></span>
<!-- <span id="defaultcode" th:dcode="${questionlist[questionindex].default_code}"></span> -->
<!-- <span id="answercode" th:acode="${questionlist[questionindex].answer}"></span> -->

<!-- 모달 개념설명 부분 -->
<div class="modal-lesson" id="div-modal-slider">
	<div class="modal-lesson-wrapper" id="slider"> 
		<div th:each="contentsList:${contentsList}" class="modal-lesson-content">
			<div class="modal-lesson-header d-flex justify-content-end">
				<a class="contentClose"> 
					<span aria-hidden="true"><i class="bi bi-x-circle-fill"></i></span>
				</a>
			</div>
			<div class="modal-lesson-body">
				<div class="d-flex flex-row justify-content-center">
					<div class="contents modal-lesson-body-title">
						<h3 th:text="${contentsList.lesson_subtitle}"></h3>
					</div>	
				<div class="bodyContent modal-lesson-body-content">
					<p class="slide-top__description">
						<span th:text="${contentsList.lesson_contents}"></span>
					</p>
				</div>
			</div>
			<div class="slide__SlideBottom-z90lcr-1 wNtlP">
				<div class="slide_bottom_items__SlideBottomItems-sc-1g258za-0 cVxUeS">
					<div class="slide_bottom_items__SlideBottomItemsInnerWrapper-sc-1g258za-1 eIFOJW">
						<div class="slide_bottom_items__SlideBottomItem-sc-1g258za-2 kDyeWH">
							<div class="u-inline">
								<div class="u-relative">
									<img class="slide_image1" th:src="${contentsList.lesson_picture}">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			</div>
		</div>		
	</div>
</div>
	
<div class="d-flex flex-wrap align-items-center">
	
	<!-- 문제출력 부분 -->
	<div class="cardForm card" id="contents">
		<!-- 문제풀력부의 header -->
		<div class="card-header">
			<i class="bi bi-journal-text"></i> 문제
		</div>
		<!-- 문제가 출력되야하는 부분 -->
		<div class="card-body contents">
			<!-- 문제 출력부분 예시 -->
			<!-- 컨트롤러에서 문제 객체 받아와서 출력되게 함 -->
			<div class="card-text" id="contentsText">Hello World를 출력하시오, 문제가 출력되는 p태그(필요할시 textarea등으로 변경가능)</div>
		</div>
	</div>

<!--컴파일러 부분  -->
	<!-- action값을 지정 안 함 -->
		<div class="cardForm card" id="compiler">
<!-- 	<form method="post" action=""> -->
			<!-- 컴파일러 부분의 header 아이콘만 장식됨 -->
			<div class="card-header">
				<i class="bi bi-journal-code"></i>
			</div>
			<!-- 코드미러가 사용된 card의 body -->
			<div class="card-body">
				<!-- 코드미러가 적용되어있는 textarea 부분 -->
				<!-- 아래는 예시 코드 -->
				<textarea class="CodeMirror" id="codemirror">
class Main {
    public static void main(String[] args) {
       System. out.println("Hello Java" );
    }
}
				</textarea>
			</div>
				<!-- 컴파일러 card의 아래부분 -->
				<div class="compilerFooter card-footer d-flex justify-content-between">
					<span>
						<!-- 작성된 부분을 리셋하는 버튼 -->
						<!-- 가능하면 문제는 처음처럼 남기는 것이 좋음 -->
						<button type="button" class="footerButton btn btn-outline-danger"
							onclick="" id="reset">
							<i class="bi bi-arrow-counterclockwise"></i>&nbsp;Reset
						</button>
						<!-- 답을 보여주는 modal을 호풀하는 버튼, 아래의 answerButton와 같은 모달을 출력한다. -->
						<button type="button" class="footerButton btn btn-outline-warning"
							onclick="" id="seeAnswer">
							<i class="bi bi-eye"></i>&nbsp;See Answer
						</button>
					</span>
				<!-- 버튼 클릭시 컴파일러폼의 코드가 컴파일되어 답 출력 card의 p태그의 class="card-text" id="resultText" 에 출력,
				그 후 정답일 경우 결과를 알려주는 모달이 나옴 -->
					<span>
						<button type="button" class="footerButton btn btn-success"
						onclick="" id="resultSubmit">Submit</button>
					</span>
					
				<!-- submit 누른후 정답이면 나오는 modal -->
				<div class="resultModal modal" id="resultModal">
					<div class="resultDialog modal-dialog modal-lg">
						<div class="modal-content" id="submitModal">
							<div class="modalHeader modal-header">
								<!-- 현재 공부중인 언어를 알려 줌 -->
								<div id="modalProgress">
									<i class="bi bi-trophy-fill" style="color: green;"></i>&nbsp;&nbsp;JAVA
								</div>
								<!-- 현재의 모달창을 닫는 버튼 -->
								<button type="button" class="resultClose btn-close"
									aria-label="Close" id="resultClose"></button>
							</div>
							<!-- modal의 body -->
							<div class="modalBody modal-body">
								<div style="color: #FF1493; font-size: 25px;">Congratulations!</div>
								<!-- 다음 과정을 알려줄수있으면 적용, 미사용시에는 삭제 -->
								<div>다음 과정은 ~~~ 입니다</div>
							</div>
							<div class="modalFooter modal-footer">
								<!-- 문제 저장버튼, 아래의 downloadIcon과 같은 기능 -->
								<button type="button" class=" btn btn-dark" onclick=""
									id="saveButton">
									<i class="bi bi-download" id="downloadIcon"></i> Save
								</button>
								<!-- 답을 보여주는 modal을 호풀하는 버튼, 위의 seeAnswer와 같은 모달을 출력한다.-->
								<button type="button" class="btn btn-light" onclick=""
									id="answerButton">Answer</button>
								<!-- 다음 학습페이지로 넘어가는 버튼 -->
								<button type="button" class="btn btn-info" onclick=""
									id="nextButton">Next</button>
							</div>
						</div>
					</div>
				</div>
				
				<!-- submit 누른후 정답이 아니면 나오는 modal -->
				<div class="resultModal modal" id="falseModal">
					<div class="resultDialog modal-dialog modal-lg">
						<div class="modal-content" id="incorrectModal">
							<div class="modalHeader modal-header">
								<!-- 현재 공부중인 언어를 알려 줌 -->
								<div id="modalProgress">
									<i class="bi bi-file-earmark-excel" style="color: red;"></i>&nbsp;&nbsp;JAVA
								</div>
								<!-- 현재의 모달창을 닫는 버튼 -->
								<button type="button" class="resultClose btn-close"
									aria-label="Close" id="resultClose"></button>
							</div>
							<!-- modal의 body -->
							<div class="modalBody modal-body">
								<div style="color: rgb(51, 51, 51);">정답이 아닙니다</div>
							</div>
						</div>
					</div>
				</div>
				
				
			<!-- answer 누르면 나오는 modal -->
			<div class="answerModal modal" id="answerModal">
				<div class="answerDialog modal-dialog modal-lg">
					<div class="modal-content" id="answerModal">
						<!-- 정답을 알려주는 modal의 header -->
						<div class="answerHeader modal-header">
							<div id="modalProgress">
								<p>Answer</p>
							</div>
							<!-- 정답을 보여주는 modal을 닫는 버튼 -->
							<button type="button" class="resultClose btn-close"
								aria-label="Close" id="resultClose"></button>
						</div>
						<!-- 해당 문제의 정답이 출력될 textarea -->
						<div class="card-body">
						<!-- 컨트롤러에서 문제 객체 받아와서 출력되게 함 -->
						<!--th:text="${questionList[questionindex].answer}"-->
							<textarea class="codeAnswer" id="codeAnswer" readonly>
class Main {
    public static void main(String[] args) {
       System. out.println("Hello answer" );
    }
}
							</textarea>
						</div>
						<!-- 해당 modal창의 footer -->
						<div class="modalFooter modal-footer">
							<!-- 문제 저장버튼 -->
							<!-- 이 버튼을 누르면 문제가 저장됨, 위의 downloadIcon과 같은 기능-->
							<button type="button" class="btn btn-dark" onclick=""
								id="downloadIcon">
							<i class="bi bi-download"></i> Save
							</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

<!-- 	</form> -->
<!-- 답 출력부분 -->
<div class="cardForm card" id="result">
	<div class="card-header d-flex justify-content-between" id="resultHeader">
		<div class=" bd-highlight">>_ 결과</div>
			<!-- PROGATE의 경우에는 이곳의 아이콘으로도 컴파일해서 아래의 p태그 resultText에 출력 -->
			<!-- 세부기능이므로 미적용되더라도 상관없음 -->
			<a href='#' class=" bd-highlight">
				<i class="bi bi-arrow-right-square" id="right-square"></i>
			</a>
		</div>
		<!-- 결과값이 출력될 card-body -->
		<div class="card-body" id="resultBody">
			<!-- 컴파일된 결과가 여기서 풀력 -->
			<pre class="card-text" id="resultText"></pre>
		</div>
	</div>
</div>
<div class="exercise footer">
	<footer class="align-items-center">
		<!-- 개념 슬라이드를 다시 보여주는 버튼 -->
		<button class="callModal btn btn-secondary" id="callContents">슬라이드로 돌아가기</button>
		<!-- 학습의 진행정도를 알려주는 progress-bar -->
		<!-- 세부기능이므로 필요하면 이용, 미이용시에는 삭제 -->
		<div class="progress-bar bg-primary" role="progressbar"
			style="width: 50%" aria-valuenow="50" aria-valuemin="0"
			aria-valuemax="100"></div>
	</footer>
</div>
</body>

</html>