<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head
	th:replace="fragments/head :: new_head(~{::title},~{::link},~{::script})">
<!-- 타이틀 입력 -->
<title>Java Introduction</title>
<!-- 추가되는 링크 입력, 없더라도 link 빈거 하나는 있어야 하는듯? -->
<!-- <link rel="stylesheet" th:href="@{}"> -->
<link th:href="@{/css/row2.css}" rel="stylesheet">
<!-- 추가되는 스크립트 입력, 역시 없더라도 빈거 하나는 있어야 하는듯? -->
<!-- <script type="text/javascript" th:src="@{/scripts/home.js}"></script> -->

<link rel="stylesheet" th:href="@{/css/course.css}">

<script></script>
</head>
<body>
	<div class="wrapper">
		<!-- sidebar -->
		<!-- <div th:replace="fragments/sidebar :: sidebar"></div> -->

		<div class="main">
			<!-- header -->
			<div th:replace="fragments/header :: new_header"></div>

			<!-- content -->
			<main class="content">
				<div class="container-fluid p-0">

					<h1 class="h3 mb-3">Java : 입문편</h1>

					<div class="row2">
						<div class="col-12">
							<div class="card">
								<div class="c-card u-inline-block lesson-main">
									
										<div class="lesson-progress c-lesson-theme--java-study">
											<img class="lesson-card-icon"
												th:src="@{/img/icons/java_icon2.svg}">
											<!-- <div class="c-progress c-progress--lesson-card c-progress--java-study">
												<div aria-valuemax="100" aria-valuemin="0"
													aria-valuenow="20"
													class="c-progress-bar c-progress-bar--java-study"
													role="progressbar" style="width: 20%"></div>
											</div> -->
											<!-- <p class="c-progress-percentage c-progress-percentage--java-study">20%</p> -->
										</div>
									
									<div class="lesson-overview-wrapper">
										<p
											class="lesson-overview__category lesson-overview__category--study">학습 Lesson </p>
										<div class="lesson-overview__tag-wrapper"></div>
										<span class="lesson-overview__title">Java I</span> <span
											class="lesson-icon-wrapper"> 
<!-- 											<img class="u-mr5" -->
<!-- 											src="https://prog-8.com/assets/icons/clock-e8d8a239a4d9ba79c3edd9acbb9497deb15a9429f8311a27b5432134f4518c1e.svg"> -->
<!-- 											<span>학습시간	</span> -->
										</span>
		
										<div class="lesson-overview__introduction u-mt10 u-mb10">
											전 세계에서 사용되는 유명한 언어 "Java"의 세계에 오신 것을 환영합니다!<br> 
											이 단원에서는 Java의 기본 코드 작성, 데이터 유형, 변수 등에 대해 배웁니다.</div>
									</div>
								</div>

							<div class="card-body">

     		 					<div class="header">
        							<h3 class="modal-title" id="exampleModalLongTitle">Java 시작하기</h3>
        		
      							</div>
      						
      							<div th:each="chapterList:${chapterList}" id="javaList">
   								
   								
   								<!-- 특정 학습 페이지로 이동하기 위한 a태그 -->
      								<div class="learningLink d-flex flex-row" id="learningLink">
      									<!--  
        								<div th:each="chapterList:${chapterList}" class="learningLink" id="learningLink">
        									<a th:text="${chapterList.lesson_title}" th:href="|@{compilerForm}?lessonid=${chapterList.lesson_id}&questionindex=${chapterList.lesson_slide}|"></a>
        								</div>
        								-->
        							
        								<div th:each="chapterList:${chapterList}" class="list-group" id="learningLink">
  											<a th:text="${chapterList.lesson_slide} + ' . ' + ${chapterList.lesson_title}" th:href="|@{/study/compilerForm}?lessonid=${chapterList.lesson_id}&questionindex=${chapterList.lesson_slide}|" 
  											class="list-group-item list-group-item-action"></a>
										</div>
									</div>
      							</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</main>
			<!-- footer -->
			<div th:replace="fragments/footer :: new_footer"></div>

		</div>
	</div>

</body>
</html>